{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <form id="edit-form" action="/auth/editavata" method="post" enctype="multipart/form-data">
    <div class="input-group">
    <div class="avata-edit-preview">
      <img id="avata-edit-preview" src="" style="display: none;" width="250" alt="미리보기">
      <input id="avata-edit-url" type="hidden" name="url">
    </div>
    <div class="input-group">
      <label id="avata-edit-label" for="avata-edit">프로필 사진 변경</label>
      <input id="avata-edit" type="file" accept="image/*">
    </div>
      <button type="button" onclick="history.back();" class="btn">이전페이지로 돌아가기</button>
      <button id="edit_btn" type="submit" class="btn">확인</button>
    </div>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    if (document.getElementById('avata-edit')) {
        document.getElementById('avata-edit').addEventListener('change', function(e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('avata-edit', this.files[0]);
            axios.post('/auth/avata-edit', formData)
                .then((res) => {
                    document.getElementById('avata-edit-url').value = res.data.url;
                    document.getElementById('avata-edit-preview').src = res.data.url;
                    document.getElementById('avata-edit-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }
</script>
{% endblock %}