{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <form id="edit-form" action="/auth/edit" method="post">
    {% if user and user.provider === 'local' %}
    <div class="input-group">
      <label for="edit-password">비밀번호</label>
      <input id="edit-password" type="password" name="password">
    </div>
    {% endif %}
    <p>로컬계정이 아니면 닉네임 변경만 가능합니다.</p>
    <div class="input-group">
      <label for="edit-nick">닉네임</label>
      <input id="edit-nick" type="text" name="nick"></div>
    <button id="edit_btn" type="submit" class="btn">프로필 수정 제출</button>
  </form>
  <a id="edit_avata_btn" href="/avata" class="btn">프로필 사진 변경</a>
  <button id="withdraw" href="/auth/withdraw" class="btn" style="margin-top: 10px">회원탈퇴</button>
</div>
<script>
  document.querySelectorAll('#withdraw').forEach(function(tag){
    tag.addEventListener('click', function() {
      const myId = document.querySelector('#my-id');
      if (myId) {
        if (confirm('탈퇴하시겠습니까?')) {
          axios.post(`/auth/withdraw` )
                  .then(() => {
                    location.href = '/';
                  })
                  .catch((err) => {
                    console.error(err);
                  });
        }
      }
    })
  });
</script>


{% endblock %}