{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
  <form id="join-form" name="joinform" action="/auth/join" method="post" enctype="multipart/form-data">
    <div class="input-group" id="join-email-container">
      <label for="join-email">이메일</label>
      <input id="join-email" type="email" name="email" onblur="emailtypecheck()">
    </div>

    <div class="input-group" id="join-password-container">
      <label for="join-password">비밀번호</label>
      <input id="join-password" type="password" name="password" placeholder="영문자+숫자+특수문자 조합 8자리 이상" onblur="passwordtypecheck()">
    </div>
    <div class="input-group" id="join-repassword-container">
      <label for="join-repassword">비밀번호확인</label>
      <input id="join-repassword" type="password" name="repassword" onblur="repasswordtypecheck()">
    </div>
    <div class="input-group" id="join-nick-container">
      <label for="join-nick">닉네임</label>
      <input id="join-nick" type="text" name="nick" onblur="nicktypecheck()"></div>
    <div class="avata-preview">
      <img id="avata-preview" src="" style="display: none;" width="250" alt="미리보기">
      <input id="avata-url" type="hidden" name="url">
    </div>
    <div class="input-group">
      <label id="avata-label" for="avata">프로필 사진 업로드</label>
      <input id="avata" type="file" accept="image/*">
    </div>
    <button type="button" onclick="history.back();" class="btn">이전페이지로 돌아가기</button>
    <button id="join-btn" type="button" onclick="joinform_check();" class="btn">회원가입</button>
  </form>
</div>
{% endblock %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    if (document.getElementById('avata')) {
        document.getElementById('avata').addEventListener('change', function(e) {
            const formData = new FormData();
            console.log(this, this.files);
            formData.append('avata', this.files[0]);
            axios.post('/auth/avata', formData)
                .then((res) => {
                    document.getElementById('avata-url').value = res.data.url;
                    document.getElementById('avata-preview').src = res.data.url;
                    document.getElementById('avata-preview').style.display = 'inline';
                })
                .catch((err) => {
                    console.error(err);
                });
        });
    }

    window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
            alert('이미 존재하는 이메일입니다.');
        }
    };
    //joinform_check 함수로 유효성 검사
    function joinform_check() {
        //변수에 담아주기
        const email = document.getElementById("join-email");
        const password = document.getElementById("join-password");
        const repassword = document.getElementById("join-repassword");
        const nick = document.getElementById("join-nick");

        if (email.value === "") { //해당 입력값이 없을 경우 같은말: if(!uid.value)
            alert("이메일을 입력하세요.");
            email.focus(); //focus(): 커서가 깜빡이는 현상, blur(): 커서가 사라지는 현상
            return false; //return: 반환하다 return false:  아무것도 반환하지 말아라 아래 코드부터 아무것도 진행하지 말것
        }

        if (password.value === "") {
            alert("비밀번호를 입력하세요.");
            password.focus();
            return false;
        }

        if (nick.value === "") {
            alert("닉네임을 입력하세요.");
            nick.focus();
            return false;
        }

        //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
        const passwordCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

        if (!passwordCheck.test(password.value)) {
            alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
            password.focus();
            return false;
        }

        if (repassword.value !== password.value) {
            alert("비밀번호가 일치하지 않습니다..");
            repassword.focus();
            return false;
        }
        //입력 값 전송
        document.joinform.submit(); //유효성 검사의 포인트
    }

    const emailtypecheck = () => {
        const email = document.getElementById("join-email");
        const div = document.createElement("div");
        const emailcontainer = document.getElementById("join-email-container");

        if (!email.value.includes('@')) { // @ 유무를 이용해 유효한 이메일 주소가 아닌지 체크
            email.classList.add('inval');
            div.id = 'join-email-error';
            emailcontainer.appendChild(div);
            const error = document.getElementById("join-email-error");
            error.innerHTML = '올바른 이메일 주소를 입력하세요.'
        } else {
            email.classList.remove('inval');
            const error = document.getElementById("join-email-error")
            error.innerHTML = "";
        }
    }

    const passwordtypecheck = () => {
        const password = document.getElementById("join-password");
        const div = document.createElement("div");
        const passwordcontainer = document.getElementById("join-password-container");
        const passwordCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

        if (password.value !== "" && !passwordCheck.test(password.value)) {
            div.id = 'join-passwordtype-error';
            div.className = 'join-error';
            passwordcontainer.appendChild(div);
            const error = document.getElementById('join-passwordtype-error');
            error.innerHTML = '비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리로 사용해야 합니다.'
        } else {
            password.classList.remove('inval');
            const error = document.getElementById("join-passwordtype-error")
            error.innerHTML = "";
        }

        if (password.value === "") {
            password.classList.add('inval');
            div.id = 'join-password-error';
            div.className = 'join-error';
            passwordcontainer.appendChild(div);
            const error = document.getElementById('join-password-error');
            error.innerHTML = '비밀번호를 입력해주세요.'
        } else {
            password.classList.remove('inval');
            const error = document.getElementById("join-password-error")
            error.innerHTML = "";
        }
    }

    const repasswordtypecheck = () => {
        const password = document.getElementById("join-password");
        const repassword = document.getElementById("join-repassword");
        const div = document.createElement("div");
        const repasswordcontainer = document.getElementById("join-repassword-container");
        if (password.value !== repassword.value) {
            repassword.classList.add('inval');
            div.id = 'join-repassword-error';
            div.className = 'join-error';
            repasswordcontainer.appendChild(div);
            const error = document.getElementById('join-repassword-error');
            error.innerHTML = '비밀번호가 일치하지않습니다.'
        } else {
                repassword.classList.remove('inval');
            const error = document.getElementById("join-repassword-error")
            error.innerHTML = "";
        }
    }

    const nicktypecheck = () => {
        const nick = document.getElementById("join-nick");
        const div = document.createElement("div");
        const nickcontainer = document.getElementById("join-nick-container");

        if (nick.value === "") {
            nick.classList.add('inval');
            div.id = 'join-nick-error';
            div.className = 'join-error';
            nickcontainer.appendChild(div);
            const error = document.getElementById('join-nick-error');
            error.innerHTML = '닉네임을 입력해주세요.'
        } else {
            nick.classList.remove('inval');
            const error = document.getElementById("join-nick-error")
            error.innerHTML = "";
        }
    }


</script>
{% endblock %}